* {
	margin: 0;
	padding: 0;
}

html {
	font-family: Roboto;
	color: #ffffff;
}

body {
	background-color: #0b0f14;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

#origin {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	width: 100%;

	.p1 {
		color: #a5b1c2;
		text-align: center;
	}

	section {
		width: 70%;
	}

	.EDO1 {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 12px;

		background-color: #121821;
		padding: 18px 20px;

		border: solid 1px #ffffff0f;
		border-radius: 6px;
		box-shadow: 0px 10px 30px 0px #00000040;

		p {
			color: #e8eef7;
			font-size: 12px;
			font-weight: 400;
		}

		.EDO1-1 {
			display: flex;
			flex-direction: row;
			align-items: start;
			justify-content: start;
			gap: 12px;

			input {
				padding: 12px 14px 12px 14px;
				background-color: #0d131b;

				border: solid 1px #ffffff1a;
				border-radius: 10px;
			}

			button {
				background-color: #5cc8ff;
				padding: 12px 16px;
				color: black;

				border: 0px;
				border-radius: 12px;

				font-weight: 700;
				font-size: bold;
			}
		}
	}

	.EDO2 {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 16px;

		div {
			width: 48%;
		}

		.EDO2-1 {
			border: solid 1px #ffffff0f;
			border-radius: 6px;
			box-shadow: 0px 10px 30px 0px #00000040;

			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: start;
			gap: 12px;

			background-color: #121821;
			padding: 18px 20px;
			border-radius: 16px;

			h2 {
				color: #e8eef7;
				font-weight: 700;
				font-size: 24px;
			}
			p {
				color: #e8eef7;
				font-weight: 400;
				font-size: 12px;
			}
		}
		.EDO2-2 {
			border: solid 1px #ffffff0f;
			border-radius: 6px;
			box-shadow: 0px 10px 30px 0px #00000040;

			background-color: #121821;
			padding: 18px 20px;

			h2 {
				color: #e8eef7;
				font-weight: 700;
				font-size: 24px;
			}
			table {
				tbody {
					display: flex;
					flex-direction: column;
					align-items: start;
					justify-content: stretch;
					tr {
						display: flex;
						align-items: start;
						flex-direction: row;
						justify-content: space-around;
						border-bottom: solid 1px #303844;
						padding: 18px 0px;
					}
					td {
						font-size: 16px;
						font-weight: 400;
						font-style: normal;
					}
					.in {
						color: #1dd1a1;
					}
					.out {
						color: #ff6b6b;
					}
				}
			}
		}
	}
	.EDO3 {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 8px;

		background-color: #121821;
		padding: 18px 20px;

		border: solid 1px #ffffff0f;
		border-radius: 6px;
		box-shadow: 0px 10px 30px 0px #00000040;

		.EDO3-1 {
			background-color: #0d131b;
			border-radius: 6px;
			border: solid 1px #ffffff1a;

			padding: 12px 14px;

			font-weight: 400;
			font-size: 12px;
			font-family: crossorigin;
			color: #e8eef7;
		}
	}
}
